body {
    margin: 0;
}
.header-container {
    background-color: #631212;
    height: 200px;
    width: 100%;
}

.logo {
    width: 150px;
    height: auto;
    float: left;
    padding: 20px;
}

.header {
    padding-top: 5px;
    font-size: 35px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    /* float: left; */
    text-align: center;
    display:flex;
    justify-content: center;
}

.scan {
    height: 600px;
    width: auto;
}

table {
    width: 100%;
    align-self: center;
}

table, th, td {
    border: 2px solid;
}

td:nth-child(1) {
    width: 50%;
}

td:nth-child(2) {
    width: 50%;
}